#carouselImg{
    height: 350px;
  }

  #navBar{
     background: whitesmoke;
     height: 100px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: unset;
     font-variant: petite-caps;
     font-weight: 500;
   }

   #colorFondo{
      background:whitesmoke;
   }
   #menu{
      text-align: center;
   }

  #logo{
     width: 359px;
     height: 93px;
     margin-right: 30px;
  }

  .navbar-nav > .active > a {
   color: rgb(214, 214, 214);
   background-color: #ffe6b8;
   border-radius: 25% 10%;
   box-shadow: 3px 3px 7px 1px rgb(151 100 47 / 91%);
 }
 .nav-item > a:hover {
   color: rgb(214, 214, 214);
 }

.cursos{
   font-size: small;
}

#ul{
   margin: unset;
}

 
 .form-control::placeholder {
   font-size: 0.95rem;
   color: #aaa;
   font-style: italic;
 }
 
 .form-control.shadow-0:focus {
   box-shadow: none;
 }

 
 