<!DOCTYPE html>
<html id="fondo">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
     crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="static/css/estilos.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>{% block title %}Inicio{% endblock %}</title>
    <link rel="shortcut icon" href="static/Imagenes/logoweb.png">
    <nav class="navbar fixed-top fixed-bottom navbar-expand-lg navbar-light" id="navBar">
      <img id="logo" src="static/Imagenes/logo-3.png" class="" alt="..."/>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid" id="colorFondo" >
        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
          <div id="navBarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-item nav-link" id="menu" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" id="menu" href="/nosotros">Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <div class="">
                  <a class="nav-item nav-link" id="menu" >Cursos</a>
                  <div class="dropdown-content">
                    <a href="/asistente-aula">Asistente de aula mención convivencia escolar</a>
                    <a href="/inspector-educacional">Inspector educacional mención convivencia escolar</a>
                    <a href="/cajero-bancario">Cajero bancario y comercial</a>
                    <a href="/asistente-administrativo-contable">Asistente administrativo contable</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" id="menu" href="/contactanos">Contáctanos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto  " >
            {% if 'loggedin' in session %}
            <li class="nav-item dropdown">
              <div class="">
                <a class="nav-item nav-link " id="menu" >Administración de cursos</a>
                <div class="dropdown-content ">
                  <a href="/aspirantes-asistente-aula">Aspirantes Asistente de aula</a>
                  <a href="/aspirantes-inspector-educacional">Aspirantes Inspector educacional</a>
                  <a href="/aspirantes-cajero-bancario">Aspirantes Cajero Bancario</a>
                  <a href="/aspirantes-asistente-contable">Aspirantes Asistente Contable</a>
                  <div class="dropdown-divider"></div>
                  <a href="/mensajes-contacto">Mensajes de contacto</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" id="menu" href="/logout">Cerrar Sesión</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-item nav-link" id="menu" href="/login">Entrar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <div class="centrador">
    <div style="height: 40%;"></div>
      <a href="https://api.whatsapp.com/send?phone=56920742757" target="_blank">
        <div>
          <img src="static/Imagenes/whatsapp.gif" alt="wsp" class="wsp"> 
        </div>
      </a>
    </div>
  <body style="margin-top:100px">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close float-end" aria-label="Close" data-bs-dismiss="alert">
      </button>
    </div>

    {% else %}
    <div class="alert alert-success alter-dismissable fade show in" role="alert">
      <div class="center-v">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        {{ message }}
      <button type="button" class="btn-close float-end" aria-label="Close" data-bs-dismiss="alert">
      </button>
    </div>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
<!-- style="background-image: url('static/Imagenes/escolares-29-classic.jpg');
    background-attachment: fixed;background-repeat: no-repeat;
    background-size: cover;" -->
    <div style="background-image: url('static/Imagenes/fondo-web3.jpg');
      background-attachment: fixed;background-repeat: no-repeat;
      background-size: cover; "> 
      {% block content %} {% endblock %}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" 
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
    crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
    crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript">
      function validate(val) {
    v1 = document.getElementById("nombre");
    v2 = document.getElementById("apellido");
    v3 = document.getElementById("rut");
    v4 = document.getElementById("sexo");
    v5 = document.getElementById("edad");
    v6 = document.getElementById("nacionalidad");
    v7 = document.getElementById("ecivil");
    v8 = document.getElementById("email");
    v9 = document.getElementById("telefono");
    v10 = document.getElementById("profesion");
    v11 = document.getElementById("nestudios");
    v12 = document.getElementById("slaboral");
    v13 = document.getElementById("direccion");
    v14 = document.getElementById("region");
    v15 = document.getElementById("curso");

    flag1 = true;
    flag2 = true;
    flag3 = true;
    flag4 = true;
    flag5 = true;
    flag6 = true;
    flag7 = true;
    flag8 = true;
    flag9 = true;
    flag10 = true;
    flag11 = true;
    flag12 = true;
    flag13 = true;
    flag14 = true;
    flag15 = true;

    if(val>=1 || val==0) {
        if(v1.value == "") {
            v1.style.borderColor = "red";
            flag1 = false;
        }
        else {
            v1.style.borderColor = "green";
            flag1 = true;
        }
    }

    if(val>=2 || val==0) {
        if(v2.value == "") {
            v2.style.borderColor = "red";
            flag2 = false;
        }
        else {
            v2.style.borderColor = "green";
            flag2 = true;
        }
    }
    if(val>=3 || val==0) {
        if(v3.value == "") {
            v3.style.borderColor = "red";
            flag3 = false;
        }
        else {
            v3.style.borderColor = "green";
            flag3 = true;
        }
    }
    if(val>=4 || val==0) {
        if(v4.value == "") {
            v4.style.borderColor = "red";
            flag4 = false;
        }
        else {
            v4.style.borderColor = "green";
            flag4 = true;
        }
    }
    if(val>=5 || val==0) {
        if(v5.value == "") {
            v5.style.borderColor = "red";
            flag5 = false;
        }
        else {
            v5.style.borderColor = "green";
            flag5 = true;
        }
    }
    if(val>=6 || val==0) {
        if(v6.value == "") {
            v6.style.borderColor = "red";
            flag6 = false;
        }
        else {
            v6.style.borderColor = "green";
            flag6 = true;
        }
    }
    if(val>=7 || val==0) {
        if(v7.value == "") {
            v7.style.borderColor = "red";
            flag7 = false;
        }
        else {
            v7.style.borderColor = "green";
            flag7 = true;
        }
    }
    if(val>=8 || val==0) {
        if(v8.value == "") {
            v8.style.borderColor = "red";
            flag8 = false;
        }
        else {
            v8.style.borderColor = "green";
            flag8 = true;
        }
    }
    if(val>=9 || val==0) {
        if(v9.value == "") {
            v9.style.borderColor = "red";
            flag9 = false;
        }
        else {
            v9.style.borderColor = "green";
            flag9 = true;
        }
    }

    if(val>=10 || val==0) {
        if(v10.value == "") {
            v10.style.borderColor = "red";
            flag10 = false;
        }
        else {
            v10.style.borderColor = "green";
            flag10 = true;
        }
    }

    if(val>=11 || val==0) {
        if(v11.value == "") {
            v11.style.borderColor = "red";
            flag11 = false;
        }
        else {
            v11.style.borderColor = "green";
            flag11 = true;
        }
    }

    if(val>=12 || val==0) {
        if(v12.value == "") {
            v12.style.borderColor = "red";
            flag12 = false;
        }
        else {
            v12.style.borderColor = "green";
            flag12 = true;
        }
    }

    if(val>=13 || val==0) {
        if(v13.value == "") {
            v13.style.borderColor = "red";
            flag13 = false;
        }
        else {
            v13.style.borderColor = "green";
            flag13 = true;
        }
    }

    if(val>=14 || val==0) {
        if(v14.value == "") {
            v14.style.borderColor = "red";
            flag14 = false;
        }
        else {
            v14.style.borderColor = "green";
            flag14 = true;
        }
    }

    if(val>=15 || val==0) {
        if(v15.value == "") {
            v15.style.borderColor = "red";
            flag15 = false;
        }
        else {
            v15.style.borderColor = "green";
            flag15 = true;
        }
    }

    flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6&& flag7&& flag8&& flag9&& flag10&& flag11&& flag12&& flag13&& flag14&& flag15;

    return flag;
}
  </script>
  </body>



  <!-- Footer -->
  <footer id="footer"
          class="text-center text-lg-start text-muted fondoFooter"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              IC Capacitación Laboral
            </h6>
            <ul id="ul">
              <li><a class="text-muted cursos" href="http://aulavirtual.iccapacitacionlaboral.cl/login/index.php">Acceso aula virtual</a></li>
            </ul>
            <ul id="ul">
              <li class="text-muted cursos">Verificar certificado</li>
            </ul>
            <ul id="ul">
              <li><a class="text-muted cursos" href="/contactanos">Trabaja con nosotros</a></li>
            </ul>
            <ul id="ul">
              <li><a class="text-muted cursos" href="/nosotros">¿Quienes Somos?</a></li>
            </ul>
            <ul id="ul">
              <li><a class="text-muted cursos" href="/contactanos">Contáctanos</a></li>
            </ul>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Cursos</h6>
            <ul id="ul">
              <li><a class="text-muted cursos" href="/inspector-educacional">Inspector Educacional mención Convivencia Escolar</a></li>
            </ul id="ul">
            <ul>
              <li><a class="text-muted cursos" href="/asistente-aula">Asistente de Aula mención Convivencia Escolar</a></li>
            </ul>
            <ul>
              <li><a class="text-muted cursos" href="/asistente-administrativo-contable">Asistente Administrativo Contable</a></li>
            </ul>
            <ul>
              <li><a class="text-muted cursos" href="/cajero-bancario">Cajero Bancario</a></li>
            </ul>
            <!-- <p>
              <a class="text-muted cursos">BrandFlow</a>
            </p>
            <p>
              <a class="text-muted cursos">Bootstrap Angular</a>
            </p> -->
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <!-- <p><i class="fas fa fa-home mr-3"></i> Direccion 123</p> -->
            <p><i class="fas fa fa-envelope mr-3"></i> contacto@iccapacitacionlaboral.cl</p>
            <p><i class="fas fa fa-phone mr-3"></i> + 56 9 2074 2757</p>
            <!-- <p><i class="fas fa fa-print mr-3"></i> + 01 234 567 89</p> -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Nuestras redes</h6>

            <!-- Facebook -->
        <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa fa-facebook-square" aria-hidden="true"></i></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa fa-twitter" aria-hidden="true"></i></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa fa-google" aria-hidden="true"></i></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <!-- <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa fa-linkedin"></i
      ></a> -->
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

   <!-- Copyrights -->
  <div class="bg-light py-4">
    <div class="container text-center">
    <div class="text-muted mb-0 py-2">
      © 2020 Copyright:
      <a class="text-muted" >todos los derechos reservados</a>
    </div>
    <!-- Copyright -->
    </div>
  </div>
  </footer>
  <!-- Footer -->

</html>
