{% extends "base.html" %} {% block title %}Contactanos{% endblock %} {% block content  %}
<body class="bod">
    <div class="container formulario">  
        <form id="contact" action="{{ url_for('contactanos') }}" method="post" autocomplete="off">
            <h3>Contacto</h3>
            <input type="text" name="nombre" placeholder="Nombre" id="nombre" required autofocus>
            <input type="email" name="correo" placeholder="Correo" id="correo" required>
            <input value="+569"type="text" name="telefono" maxlength="12" placeholder="Telefono" id="telefono" required>
 
            <select id="motivo" name="motivo" type="select" required>
                <option value="0">Motivo</option>
                <option value="servicio">Servicio Técnico</option>
                <option value="trabajo">Trabaja con nosotros</option>
                <option value="sugerencia">Sugerencia</option>
                <option value="otro">Otro</option>
            </select>
            <textarea type="text" name="mensaje" placeholder="Escribir mensaje aquí...." id="mensaje" required> 

            </textarea>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Enviar">
        </form>
        <script>
            document.getElementById("mensaje").value = "";
        </script>
        <!-- <form action="{{ url_for('contactanos') }}" id="contact" method="post" >
            <h3>Contacto</h3>
            <input placeholder="Nombre" id="nombre" type="text" tabindex="1" required>
            <input placeholder="Correo" id="correo" type="email" tabindex="2" required>
            <input placeholder="Teléfono" id="telefono" type="tel" tabindex="3" maxlength="12" required>
            <select id="motivo" name="transporte" type="select" tabindex="4" required>
                <option value="0">Motivo</option>
                <option value="servicio">Servicio Técnico</option>
                <option value="trabajo">Trabaja con nosotros</option>
                <option value="sugerencia">Sugerencia</option>
                <option value="otro">Otro</option>
            </select>
            <textarea id="mensaje" placeholder="Escribir mensaje aquí...." tabindex="5" required></textarea>
            <button name="submit" value="Login" type="submit" id="contact-submit" data-submit="...Enviando">Enviar</button>
        </form> -->
    </div>
</body>

  {% endblock %}