{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content  %}

<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" style="background-color: whitesmoke;" src="static/Imagenes/moddle.jpg" 
        width="100%" height="200px" role="img"/>
        <div class="container">
          <div class="carousel-caption text-start" style=" color: black;">
            <p><a class="btn btn-lg btn-primary" style="margin-left: 15%;" href="#">Acceder a Aula Virtual</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>contexto</h1>
            <p>contexto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Validar certificado</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>contexto</h1>
            <p>contexto</p>
            <p><a class="btn btn-lg btn-primary" href="#">Validar certificado</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h1 style="margin: 30px;">Cursos</h1>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4" data-aos="fade-up-right">
        <a href="/asistente-aula"><img class="bd-placeholder-img rounded-circle imagen" src="static/Imagenes/asistente_aula.jpg" 
        width="200" height="200" role="img" style="margin: 20px;" /></a>

        <h2>Asistente de aula</h2>
        <p>Apoyo en actividades pedagógicas de aula.</p>
        <p><a class="btn btn-secondary" href="/asistente-aula">Ver detalles &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4" data-aos="fade-up">
        <a href="/inspector-educacional"><img class="bd-placeholder-img rounded-circle imagen" src="static/Imagenes/inspector.jpg" 
          width="200" height="200" role="img" style="margin: 20px;" /></a>
        <h2>Inspector educacional</h2>
        <p>Inspector educacional con mención en convivencia escolar.</p>
        <p><a class="btn btn-secondary" href="/inspector-educacional">Ver detalles &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <!-- <div class="col-lg-4" data-aos="fade-up-left">
        <img class="bd-placeholder-img rounded-circle imagen" src="static/Imagenes/inspector.jpg" 
        width="200" height="200" role="img" style="margin: 20px;"/>
        <h2>Inspector educacional</h2>
        <p>Inspector educacional con mención en convivencia escolar.</p>
        <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
      </div>/.col-lg-4 -->
    </div><!-- /.row -->


  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Volver arriba</a></p>
  </footer>
</main>


{% endblock %}
