{% extends "base.html" %} {% block title %}Nosotros{% endblock %} {% block content  %}
<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading" id="textoAbout"> <span class="titulosDetalle">Sobre nosotros</span></h2>
      <p class="lead" id="textoAbout" data-aos="zoom-in-up">Somos  IC CAPACITACIÓN LABORAL, nuestro servicio se adapta a las necesidades específicas de cada empresa o grupo de personas y además que requieran capacitarse para lograr sus objetivos laborales, profesionales y empresariales.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img nosotros-img" data-aos="fade-left" src="static/Imagenes/nosotros.jpg" 
      width="500" height="500" role="nosotros1"/>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <!-- <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2> -->
      <p class="lead" id="textoAbout" data-aos="zoom-in-up">Ofrecemos la oportunidad de capacitarte en distintos oficios:
        Admirativos, Educacionales, Inmobiliarios.
        A través de un sistema de becas que benefician a cualquier persona que desee mejorar sus posibilidades laborales ¡Postula con nosotros y capacítate!
        </p>
    </div>
    <div class="col-md-5 order-md-1" class="contenedor">
      <img class="bd-placeholder-img nosotros-img" data-aos="fade-right" src="static/Imagenes/nosotros2.jpg" 
      width="500" height="500" role="nosotros2"/>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <!-- <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2> -->
      <p class="lead" id="textoAbout" data-aos="zoom-in-up">Promovemos el desarrollo e inclusión Socio Laboral, a través de nuestro programa de Becas Solidarias abierto para personas naturales nacionales o extranjeras.
        Contamos con Becas Internas para  Empresas e Instituciones que desean capacitar  a su equipo de colaborares.
        </p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img nosotros-img" data-aos="fade-left" src="static/Imagenes/nosotros3.jpg" 
      width="500" height="500" role="nosotros3"/>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette" data-aos="zoom-out">
    <div class="col-md-12" style="text-align: center; margin: 5%">
      <h2 class="featurette-heading"><span class="titulosDetalle">SOMOS TU ALIADO ESTRATÉGICO.</span></h2>
      <p class="lead" id="textoAbout">Nuestro equipo te acompañara en la creación y ejecución de un plan de capacitación,  que se adecue a las necesidades específicas a todas las personas de forma individual como a Empresas, soluciones concretas y Programas certificados.
        Programas que combinan e-learning con  clases presenciales, horarios y modalidad Flexibles.
        </p>
    </div>
  </div>

</div>
{% endblock %}
