{% extends "base.html" %} {% block title %}Nosotros{% endblock %} {% block content  %}
<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="aligncenter">
      <!-- <img src="https://4.bp.blogspot.com/-7OHSFmygfYQ/VtLSb1xe8kI/AAAAAAAABjI/FxaRp5xW2JQ/s320/logo.png" class="fostrap-logo"/> -->
      <h1 class="heading">
          Quienes Somos
      </h1>
      <img src="static/Imagenes/divider.png" />
    </div>
    <div class="row featurette" data-aos="zoom-in">
      <div class="col-md-12" style="margin-top: 5%; margin-left: 5%">
        <p class="lead" id="textoAbout">Somos INSTITUTO DE  CAPACITACIÓN LABORAL. nuestro servicio se adecuan a las necesidades especificas de cada empresa o grupo de personas, que requieran capacitarse  para lograr sus objetivos laborales, profesionales y empresariales.
          </p>
          <p class="lead" id="textoAbout">Los profesionales de hoy necesitan refrescar constantemente sus conocimientos y habilidades. Es por esta razón que en cada curso que impartimos como institución,  entregamos una capacitación con temas actualizados y con mira a que cada alumno reciba las herramientas necesarias para mejorar y ser mas eficiente en las entidades que representan.
          </p>
          <p class="lead" id="textoAbout">Promovemos el desarrollo e inclusión Socio Laboral, a través de nuestro programa de <b style="font-weight: bold;">Becas Solidarias</b> abierto para personas naturales nacionales o extranjeras.
          </p>
          <p class="lead" id="textoAbout">Contamos con Becas Internas para  Empresas e Instituciones que desean capacitar  a su equipo de colaborares. También contamos con Becas directo a personas.
          </p>
          <p class="lead" id="textoAbout">Nuestra metodología se basa en el aprender haciendo, por lo que cualquier persona puede tomar un curso e incrementar valor a sus conocimientos y destrezas. Continuamente innovamos con diferentes temas y facilitadores que son experimentados en aquellas áreas especificas”
          </p>
          <p class="lead" id="textoAbout"><b style="font-weight: bold;">Si estas buscando poder tener acceso a un cargo con mejores prestaciones, estas buscando trabajo, o simplemente quieres estar preparado para lo que se viene en el futuro, Nuestros cursos son para ti.</b>
          </p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-6 order-md-2" data-aos="zoom-in">
      <div class="aligncenter">
        <h1 class="heading">
            Misión
        </h1>
        <img src="static/Imagenes/divider.png" />
      </div>
      <p class="lead" id="textoAbout" style="margin-top: 5%; ">Cubrir las necesidades educativas y formativas del entorno social, a través de Cursos de capacitación, que cumplen con altos estándares de calidad los cuales satisfacen plenamente los requerimientos de cada uno de nuestros clientes, ya sean persona o empresa.
      </p>
    </div>
    <div class="col-md-6 order-md-2" data-aos="zoom-in">
      <div class="aligncenter">
        <h1 class="heading">
            Visión
        </h1>
        <img src="static/Imagenes/divider.png" />
        <p class="lead" id="textoAbout" style="margin-top: 5%; ">Como OTEC queremos ser la entidad referente en capación y formación personal, perdurar en el tiempo con cursos de calidad y accesibles económicamente.
        </p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette" data-aos="zoom-in">
    <div class="col-md-12">
      <img src="static/Imagenes/nosotrospc.jpg" class="container"/>
    </div>
  </div>

  <hr class="featurette-divider">

</div>
{% endblock %}
