<!DOCTYPE html>
<html id="fondo">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
     crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="static/css/estilos.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Inicio{% endblock %}</title>

    <nav class="navbar fixed-top fixed-bottom navbar-expand-lg navbar-light" id="navBar">
      <img id="logo" src="static/imagenes/logo2.png" class="" alt="..."/>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid" id="colorFondo" >
        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
          <div id="navBarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-item nav-link" id="menu" href="/home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" id="menu" href="/nosotros">Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <div class="">
                  <a class="nav-item nav-link" id="menu" >Cursos</a>
                  <div class="dropdown-content">
                    <a href="/cursos">Asistente de aula</a>
                    <a href="#">Inspector educacional</a>
                    <a href="#">Link 3</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" id="menu" href="/sign-up">Contáctanos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto" >
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-item nav-link" id="menu" href="/aspirantes">Aspirantes por curso</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" id="menu" href="/logout">Cerrar Sesión</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-item nav-link" id="menu" href="/login">Entrar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  
  </head>
  <body style="margin-top:100px">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close float-end" aria-label="Close" data-bs-dismiss="alert">
      </button>
    </div>

    {% else %}
    <div class="alert alert-success alter-dismissable fade show in" role="alert">
      <div class="center-v">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        {{ message }}
      <button type="button" class="btn-close float-end" aria-label="Close" data-bs-dismiss="alert">
      </button>
    </div>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div>{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" 
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
    crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
    crossorigin="anonymous"
    ></script>

    
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>



  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-muted bg-white"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              IC Capacitación Laboral
            </h6>
            <ul id="ul">
              <li class="text-muted cursos">Acceso aula virtual</li>
            </ul>
            <ul id="ul">
              <li class="text-muted cursos">Verificar certificado</li>
            </ul>
            <ul id="ul">
              <li class="text-muted cursos">Trabaja con nosotros</li>
            </ul>
            <ul id="ul">
              <li class="text-muted cursos">¿Quienes Somos?</li>
            </ul>
            <ul id="ul">
              <li class="text-muted cursos">Contáctanos</li>
            </ul>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Cursos</h6>
            <ul id="ul">
              <li class="text-muted cursos">Inspector educacional</li>
            </ul id="ul">
            <ul>
              <li class="text-muted cursos">Asistente de aula</li>
            </ul>
            <!-- <p>
              <a class="text-muted cursos">BrandFlow</a>
            </p>
            <p>
              <a class="text-muted cursos">Bootstrap Angular</a>
            </p> -->
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p><i class="fas fa fa-home mr-3"></i> Direccion 123</p>
            <p><i class="fas fa fa-envelope mr-3"></i> iccapacitacionchile@gmail.com</p>
            <p><i class="fas fa fa-phone mr-3"></i> + 56 9 7781 4386</p>
            <!-- <p><i class="fas fa fa-print mr-3"></i> + 01 234 567 89</p> -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Nuestras redes</h6>

            <!-- Facebook -->
        <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa fa-facebook-square" aria-hidden="true"></i></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa fa-twitter" aria-hidden="true"></i></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa fa-google" aria-hidden="true"></i></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <!-- <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa fa-linkedin"></i
      ></a> -->
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

   <!-- Copyrights -->
  <div class="bg-light py-4">
    <div class="container text-center">
    <div class="text-muted mb-0 py-2">
      © 2020 Copyright:
      <a class="text-muted" >todos los derechos reservados</a>
    </div>
    <!-- Copyright -->
    </div>
  </div>
  </footer>
  <!-- Footer -->

</html>
