{% extends "base.html" %} {% block title %}Busqueda{% endblock %} {% block content  %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>-
    <div class=" bg-light rounded-3">
        <div class="container-fluid ">
          <div class=" mx-auto">
              <div class="row d-flex justify-content-center">
                  <div class=" text-center">
                      <div class="card table-responsive">
                        <form action="{{ url_for('busqueda') }}" method="post">
                            <label class="form-control-label px-3"><span class="text-danger"> *</span></label> 
                            <input type="text" id="ide" name="ide" placeholder="busca por id aspirante">
                            <input type="text" id="nombreSearch" name="nombreSearch" placeholder="busca por nombre aspirante">
                            <input type="text" id="rutSearch" name="rutSearch" placeholder="busca por rut aspirante">
                            <input id="btnBuscarAspirante"class="btn-primary" type="submit" value="Buscar">
                        </form>
                        <span class="fs-4" style="margin: 20px;" data-aos="fade-right">Total Mostrados en lista: <strong>{{total}}</strong></span>
                       
                        <table class="table align-middle mb-0 bg-white">
                            <thead class="bg-light">
                              <tr>
                                <th class="th-sm">Id</th>
                                <th class="th-sm">Aspirante</th>
                                <!-- <th class="th-sm">Apellidos</th> -->
                                <th class="th-sm">Curso</th>
                                <!-- <th class="th-sm">Ingreso desde</th> -->
                                <th class="th-sm">Información</th>
                                <!-- <th class="th-sm">Email</th> -->
                                <!-- <th class="th-sm">Telefono</th> -->
                                <!-- <th class="th-sm">Profesión</th> -->
                                <!-- <th class="th-sm">Estudios</th> -->
                                <!-- <th class="th-sm">Situación laboral</th> -->
                                <th class="th-sm">Dirección</th>
                                <!-- <th style="position: fixed;"class="th-sm">Region</th> -->
                                <!-- <th class="th-sm">Curso</th> -->
                                <!-- <th class="th-sm">Fecha</th> -->
                                <th class="th-sm">Último estado modificado por</th>
                                <th class="th-sm">Pagos</th>
                                <th class="th-sm">Estado</th>
                                <th class="th-sm">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for row in aspirantesSearch %}
                              <tr>
                                <td>{{row[0]}}</td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    {% if row[4] == 'Hombre'%}
                                    <img
                                        src="http://iccapacitacionlaboral.cl/static/Imagenes/iconUserH.png"
                                        alt=""
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                                        />
                                    {% endif %}

                                    {% if row[4] == 'Mujer'%}
                                    <img
                                        src="http://iccapacitacionlaboral.cl/static/Imagenes/iconUserM.png"
                                        alt=""
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                                        />
                                    {% endif %}

                                    <div class="ms-3" style="width: 80%">
                                      <p class="fw-bold mb-1">{{row[1]}} {{row[2]}}</p>
                                      <p class="text-muted mb-0">{{row[3]}}</p>
                                      <p class="text-muted mb-0">{{row[8]}}</p>
                                      <p class="text-muted mb-0">{{row[9]}}</p>
                                      <p class="text-muted mb-0">{{row[22]}}</p>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <p class="text-muted mb-0">{{row[16]}} / {{row[17]}}</p>
                                  <p class="text-muted mb-1">{{row[15]}}</p>
                                </td>
                                <!-- <td>{{row[22]}}</td> -->
                                <td>
                                  <div class="ms-3" style="width: 80%">
                                    <p class="text-muted mb-0">{{row[4]}}</p>
                                    <p class="text-muted mb-0">{{row[5]}} años</p>
                                    <p class="text-muted mb-0">{{row[6]}}</p>
                                    <p class="text-muted mb-0">{{row[7]}}</p>
                                  </div>
                                </td>
                                <!-- <td>{{row[11]}}</td> -->
                                <!-- <td>{{row[12]}}</td> -->
                                <td>
                                  <p class="text-muted mb-0">{{row[13]}}, {{row[14]}}</p>
                                </td>
                                <td>{{row[19]}}</td>
                                {% if row[24] is not none %}
                                <td>
                                  <form action="/pagos-realizados/{{row[0]}}/{{row[23]}}" method="GET">
                                  <button type="submit" data-id='{{row[0]}}'  class="btn btn-link btn-sm btn-rounded">
                                  {{row[24]}}
                                </button>
                                </form>
                              </td>
                                {% endif %}
                                {% if row[24] is none %}
                                  <td>0</td>
                                {% endif %}
                                <td>
                                  {% if row[20] <= 5 %}
                                  <span class="badge bg-danger rounded-pill d-inline">{{row[18]}}</span>
                                  {% endif %}
                                  {% if row[20] > 5 and row[20] < 17 %}
                                  <span class="badge bg-warning rounded-pill d-inline">{{row[18]}}</span>
                                  {% endif %}
                                  {% if row[20] >= 17 %}
                                  <span class="badge bg-success rounded-pill d-inline">{{row[18]}}</span>
                                  {% endif %}
                              </td>
                              <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPago_{{row[0]}}">
                                  Agregar Pago
                                </button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMdificar_{{row[0]}}">
                                  Modificar
                                  {% if "IEMCE" in row[17] %}
                                <button data-id='{{row[0]}}' type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target="#modalEnvioBienvenidaIEMCE_{{row[0]}}">
                                  Enviar Correo Bienvenida IEMCE
                                </button>
                                {% endif %}
                                {% if "AAMCE" in row[17] %}
                                <button data-id='{{row[0]}}' type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target="#modalEnvioBienvenidaAAMCE_{{row[0]}}">
                                  Enviar Correo Bienvenida AAMCE
                                </button>
                                {% endif %}
                                {% if "CBC" in row[17] %}
                                <button data-id='{{row[0]}}' type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target="#modalEnvioBienvenidaCBC_{{row[0]}}">
                                  Enviar Correo Bienvenida CBC
                                </button>
                                {% endif %}
                                {% if "AAC" in row[17] %}
                                <button data-id='{{row[0]}}' type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target="#modalEnvioBienvenidaCBC_{{row[0]}}">
                                  Enviar Correo Bienvenida AAC
                                </button>
                                {% endif %}
                                <button data-id='{{row[0]}}' type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target="#modalEnvioAceptacion_{{row[0]}}">
                                  Enviar Correo Aceptación
                                </button>
                                <button data-id='{{row[0]}}' type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target="#modalEnvioPago_{{row[0]}}">
                                  Enviar Correo Pago
                                </button>
                              </td>
                            </tr>
                            <form class="form-card" action="{{ url_for('guardarPagoSearch', id=row[0], curso=row[23])}}" method="post">
                              <div  class="modal fade" id="modalPago_{{row[0]}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content" style="width: 120%;">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="basicModal">Agregar pago {{row[1]}} {{row[2]}} id: {{row[0]}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="author" class="col-xs-2 control-label">Forma Pago</label>
                                                <div class="col-xs-2">
                                                  <select id="formaPago" name="formaPago" type="select">
                                                      <option value="Transferencia">Transferencia</option>
                                                      <option value="Flow">Flow</option>
                                                  </select> 
                                                </div>
                                                <div class="form-group row">
                                                  <label for="author" class="col-xs-2 control-label">Monto</label>
                                                  <div class="col-xs-2">
                                                    <input required id="montoPago" name="montoPago" autocomplete="false" type="number" class="col-xs-2 control-label" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                      <input class="btn-primary" type="submit" value="Guardar">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <form class="form-card" action="{{ url_for('guardarEstadoSearch', id=row[0], curso=row[23])}}" method="post">
                              <div  class="modal fade" id="modalMdificar_{{row[0]}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content" style="width: 120%;">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="basicModal">Actualizar estado {{row[1]}} {{row[2]}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="author" class="col-xs-2 control-label">Estado</label>
                                                <div class="col-xs-10">
                                                  <select id="estado" name="estado" type="select">
                                                      <option value="0">Selecciones Estado</option>
                                                      {% for estado in estados %}
                                                      <option value="{{estado[0]}}"{% if estado[0] == row[20] %} selected {% endif %}>{{estado[1]}}</option>
                                                      {% endfor %}
                                                  </select> 
                                                </div>
                                                <div class="form-group row">
                                                  <label for="author" class="col-xs-2 control-label">Correo</label>
                                                  <div class="input-group mb-3">
                                                    <input id="correoAlumno" value="{{row[8]}}" name="correoAlumno" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                  </div>
                                              </div>
                                              <div class="form-group row">
                                                <label for="author" class="col-xs-2 control-label">Celular</label>
                                                <div class="input-group mb-3">
                                                  <input id="celularAlumno" value="{{row[9]}}" name="celularAlumno" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                              <label for="author" class="col-xs-2 control-label">Nombres</label>
                                              <div class="input-group mb-3">
                                                <input id="nombresAlumno" value="{{row[1]}}" name="nombresAlumno" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                              </div>
                                          </div>
                                          <div class="form-group row">
                                            <label for="author" class="col-xs-2 control-label">Apellidos</label>
                                            <div class="input-group mb-3">
                                              <input id="apellidosAlumno" value="{{row[2]}}" name="apellidosAlumno" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                      <input class="btn-primary" type="submit" value="Guardar">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <form class="form-card" action="{{ url_for('envioCorreoAceptacionSearch', id=row[0], curso=row[23])}}" method="post">
                              <div  class="modal fade" id="modalEnvioAceptacion_{{row[0]}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content" style="width: 120%;">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="basicModal">Enviar correo de aceptación a {{row[1]}} {{row[2]}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="author" class="col-xs-2 control-label">Correo destino: {{row[8]}}</label>
                                                <div class="input-group mb-3">
                                                  <span class="input-group-text" id="inputGroup-sizing-default">Url de Pago: </span>
                                                  <input id="urlPago" name="urlPago" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                      <input class="btn-primary" type="submit" value="Enviar">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <form class="form-card" action="{{ url_for('envioCorreoBienvenidaIEMCESearch', id=row[0], curso=row[23])}}" method="post">
                              <div  class="modal fade" id="modalEnvioBienvenidaIEMCE_{{row[0]}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content" style="width: 120%;">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="basicModal">Enviar correo de bienvenida IEMCE a {{row[1]}} {{row[2]}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="author" class="col-xs-2 control-label">Correo destino: {{row[8]}}</label>
                                                <div class="input-group mb-3">
                                                  <span class="input-group-text" id="inputGroup-sizing-default">Link Sense: </span>
                                                  <input id="linkSense" name="linkSense" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                      <input class="btn-primary" type="submit" value="Enviar">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <form class="form-card" action="{{ url_for('envioCorreoBienvenidaAAMCESearch', id=row[0], curso=row[23])}}" method="post">
                              <div  class="modal fade" id="modalEnvioBienvenidaAAMCE_{{row[0]}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content" style="width: 120%;">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="basicModal">Enviar correo de bienvenida AAMCE a {{row[1]}} {{row[2]}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="author" class="col-xs-2 control-label">Correo destino: {{row[8]}}</label>
                                                <div class="input-group mb-3">
                                                  <span class="input-group-text" id="inputGroup-sizing-default">Link Sense: </span>
                                                  <input id="linkSense" name="linkSense" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                      <input class="btn-primary" type="submit" value="Enviar">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <form class="form-card" action="{{ url_for('envioCorreoBienvenidaCBCSearch', id=row[0], curso=row[23])}}" method="post">
                              <div  class="modal fade" id="modalEnvioBienvenidaCBC_{{row[0]}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content" style="width: 120%;">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="basicModal">Enviar correo de bienvenida CBC a {{row[1]}} {{row[2]}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="author" class="col-xs-2 control-label">Correo destino: {{row[8]}}</label>
                                                <div class="input-group mb-3">
                                                  <span class="input-group-text" id="inputGroup-sizing-default">Link Sense: </span>
                                                  <input id="linkSense" name="linkSense" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                      <input class="btn-primary" type="submit" value="Enviar">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <form class="form-card" action="{{ url_for('envioCorreoBienvenidaAACSearch', id=row[0], curso=row[23])}}" method="post">
                              <div  class="modal fade" id="modalEnvioBienvenidaAAC_{{row[0]}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content" style="width: 120%;">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="basicModal">Enviar correo de bienvenida AAC a {{row[1]}} {{row[2]}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="author" class="col-xs-2 control-label">Correo destino: {{row[8]}}</label>
                                                <div class="input-group mb-3">
                                                  <span class="input-group-text" id="inputGroup-sizing-default">Link Sense: </span>
                                                  <input id="linkSense" name="linkSense" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                      <input class="btn-primary" type="submit" value="Enviar">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <form class="form-card" action="{{ url_for('envioCorreoPagoSearch', id=row[0], curso=row[23])}}" method="post">
                              <div  class="modal fade" id="modalEnvioPago_{{row[0]}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content" style="width: 120%;">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="basicModal">Enviar correo de aceptación a {{row[1]}} {{row[2]}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="author" class="col-xs-2 control-label"><strong>Correo destino:</strong> {{row[8]}}</label>
                                                <label for="author" class="col-xs-2 control-label"><strong>Costo del curso:</strong> {{row[21]}}</label>
                                                <label for="author" class="col-xs-2 control-label"><strong>Nombre Curso:</strong> {{row[16]}} - {{row[17]}}</label>
                                                <div class="input-group mb-3">
                                                  <span class="input-group-text" id="inputGroup-sizing-default">Medio de Pago: </span>
                                                  <input id="medioPago" name="medioPago" autocomplete="false" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                      <input class="btn-primary" type="submit" value="Enviar">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            {% endfor %}
                          
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}  
</body>
<script>
$(document).ready(function() {
    $('#btnBuscarAspirante').click();
    console.log("clici");
});
</script>

</html>
