{% extends "base.html" %} {% block title %}Mensajes de contacto{% endblock %} {% block content  %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class=" bg-light rounded-3">
        <div class="container-fluid ">
          <div class=" mx-auto">
              <div class="row d-flex justify-content-center">
                  <div class=" text-center">
                      <div class="card table-responsive">
                        <span class="fs-4" style="margin: 20px;" data-aos="fade-right">Mensajes de contacto</span>
                        <table class="table align-middle mb-0 bg-white">
                          <thead class="bg-light">
                            <tr>
                              <th class="th-sm">Id</th>
                                <th class="th-sm">Persona</th>
                                <th class="th-sm">Motivo</th>
                                <th class="th-sm">Mensaje</th>
                                <!-- <th class="th-sm">Correo</th> -->
                                <!-- <th class="th-sm">Teléfono</th> -->
                                <!-- <th class="th-sm">Fecha</th> -->
                            </tr>
                          </thead>
                          <tbody>
                              {% for row in mensajes %}
                            <tr>
                              <td>{{row[0]}}</td>
                              <td>
                                <div class="d-flex align-items-center">
                                  <img
                                      src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                      alt=""
                                      style="width: 45px; height: 45px"
                                      class="rounded-circle"
                                      />
                                  <div class="ms-3" style="width: 80%">
                                    <p class="fw-bold mb-1">{{row[1]}}</p>
                                    <p class="text-muted mb-0">{{row[3]}}</p>
                                    <p class="text-muted mb-0">{{row[2]}}</p>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="fw-bold  mb-1">{{row[4]}}</p>
                                <p class="text-muted mb-0">{{row[6]}}</p>
                              </td>
                              <td>{{row[5]}}</td>
                            </tr>
                            {% endfor %}
                          
                          </tbody>
                      </table>
                          {{ pagination.info }}
                          {{ pagination.links }}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

{% endblock %}
